/* NAVIGATION */
.navbar.navbar-expand-lg.navbar-light.bg-dark a {
    color: white;
    margin-left: 60px;
    position: relative;
    bottom: 4px;
}

/* LOGO */
.logo img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    z-index: 40;

}


.section-contact{
    border: 2px solid black;
    width: 35rem;
    height: auto;
    margin-top: 15px;
  }
   #ajoutContact form {
     display: flex;
     flex-direction: column;
  
     margin: 10px;
     padding: 10px;
     align-items: center;
   }

   #ajoutContact form input {
     padding: 10px;
     margin: 10px;
   }

   .ajoutContactBtn {
     margin-bottom: 20px;
   }

  #contactList {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
  }

   #contactTable {
     border: 2px solid black;
     
   }
  